/*************************************************
        Reset
**************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*************************************************
        Variables
**************************************************/
/*************************************************
        Page
**************************************************/
.page {
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.page header nav ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  vertical-align: text-bottom;
}

.page header nav ul li {
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: content;
      flex-basis: content;
  padding: 10px;
}

.page header .secondary-nav {
  background: black;
  color: gray;
  font-size: .8em;
  font-family: Arial, Helvetica, sans-serif;
  height: 35px;
}

.page header .secondary-nav li:hover {
  color: white;
}

.page header .secondary-nav li:nth-child(6) {
  margin-right: auto;
}

.page header .main-nav {
  background: white;
  height: 50px;
  color: gray;
}

.page header .main-nav li {
  text-transform: uppercase;
}

.page header .main-nav li:hover {
  color: black;
}

.page header .main-nav li:nth-of-type(5) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: auto;
  border-right: 2px solid whitesmoke;
}

.page section {
  margin: 20px;
}

.page .hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 66% 1fr;
      grid-template-columns: 66% 1fr;
  -ms-grid-rows: 2;
      grid-template-rows: 2;
  height: 500px;
  margin: 5px 5px 75px 5px;
  background: yellow;
}

.page .hero .article {
  margin: 5px;
  background: pink;
}

.page .hero .article:first-of-type {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.page .latest-news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-flow: row;
  position: relative;
}

.page .latest-news::before {
  content: 'Latest news >';
  color: #ff4422;
  font-size: 2.5em;
  font-weight: bold;
  position: absolute;
  left: 5px;
  top: -50px;
}

.page .latest-news .article {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.page .latest-news .article img {
  width: 100%;
}

.page .latest-news .article h3 {
  font-weight: bold;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page .latest-news .article h3:hover {
  color: #ff4422;
  text-decoration: underline;
}

.page .latest-news .article p {
  color: gray;
  font-size: .8em;
}

.page footer {
  background: black;
  color: white;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/*************************************************
        Media Queries
**************************************************/
@media only screen and (max-width: 768px) {
  .page .secondary-nav {
    display: none;
  }
  .page .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90vh;
  }
  .page .hero .article {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .page .latest-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page .latest-news .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .page .latest-news .article img {
    width: 75px;
    height: 75px;
  }
}
/*# sourceMappingURL=main.css.map */